# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
venv/
.venv/

# Node
node_modules/
dist/

# Env Files
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.kiro/

# Local cache & database files
.vite/
*.db
*.jsonl